.header {
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
}

.graph {
    position: fixed;
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-left: 50%;
    margin-top: 50px;
}

.group_choice {
    position: fixed;
    display: inline-block;
    margin-left: 50%;
}

.introduction {
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.introduction__area {
    width: 90%;
}

.introduction__table {
    width: 100%;
}

.introduction__button {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
}

.content {
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal__button {
    float: right;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal__objectives__area {
    min-width: 100%;
    margin: auto;
}