.header {
    text-align: center;
    width: 50%;
    margin-bottom: 30px;
}

.graph {
    position: fixed;
    display: inline-block;
    width: 600px;
    height: 400px;
    margin-left: 50%;
}

.introduction {
    display: inline-block;
    width: 48%;
    margin-left: 1%;
    margin-right: 1%;
}

.introduction__area {
    width: 90%;
}

.introduction__button {
    float: right;
    margin-top: 30px;
}

.content {
    text-align: left;
}